.home {
  background-image: linear-gradient(
      rgba(182, 187, 182, 0.588),
      rgba(166, 170, 166, 0.588)
    ),
    url("../../image/keyboard-stationery-flat-lay.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
